<div class="agile-content">
	<%= render @partial, :locals => @locals %>
</div>

<% content_for :sidebar do %>
<h3 class="agile-link"><%= link_to l(:label_backlog_plural), agile_backlogs_path(:project_id => @project.id), :remote => true %></h3>
<h3><%= l(:label_board_plural) %></h3>
<ul>
<li class="agile-link" data-mode="board"><% link_to '2015-02-D', agile_board_path(:project_id => @project.id, :version => '2015-02-D'), :remote => true %></li>
</ul>
<h3><%= l(:label_graph_plural) %></h3>
<ul>
<li class="agile-link" data-mode="graph"><% link_to 'Burndown', agile_graph_path(:project_id => @project.id, :graph => 'burndown'), :remote => true %></li>
</ul>
<% end %>

<% content_for :header_tags do %>
    <%= javascript_include_tag 'agile', :plugin => 'redmine_agile' %>
<% end %>